<!-- views/create-post.handlebars -->
<h1>Create a New Post</h1>
<form id="new-post-form" method="POST" action="/api/post">
  <input id="post-title" type="text" placeholder="Title" name="title" required>
  <textarea id="post-content" placeholder="Content" name="content" required></textarea>
  <button type="submit">Create Post</button>
</form>
